# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# map neat URL to internal URL
RewriteRule ^customer/$   index.php?management=customer [nc,qsa]
RewriteRule ^project/$   index.php?management=project [nc,qsa]
RewriteRule ^report/$   index.php?management=report [nc,qsa]
RewriteRule ^user/$   index.php?management=user [nc,qsa]
RewriteRule ^profile/$   index.php?management=profile [nc,qsa]

RewriteRule ^login/$   index.php?management=login [nc,qsa]
